name: Build - Reusable

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      arch:
        required: true
        type: string
      cs_symbols:
        required: false
        type: string
        default: ""

jobs:
  build:
    env:
      DB_IMAGE: kurrentdb-test-container
    strategy:
      fail-fast: false
      matrix:
        configuration: [release]
    runs-on: ${{ inputs.os }}
    name: ci/github/build-${{ inputs.os }}
    steps:
    -  
      name: Install Azure Emulator
      if: ${{ contains(inputs.cs_symbols, 'RUN_AZ_TESTS') }}
      run: |
        npm install -g azurite
        azurite --location /tmp/azurite &
        curl -I http://127.0.0.1:10000/ --retry 5 --retry-delay 1 --retry-connrefused
    -  
      name: Free Disk Space (Ubuntu)
      if: ${{ !startsWith(inputs.os, 'windows') }}
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
        dotnet: false
        docker-images: false
    -  
      name: Checkout
      uses: actions/checkout@v4
    -  
      name: Set up Docker Buildx
      if: ${{ !startsWith(inputs.os, 'windows') }}
      uses: docker/setup-buildx-action@v2
    -  
      name: Install net10.0
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
    -  
      name: Clear Nuget Cache
      shell: powershell
      if: ${{ startsWith(inputs.os, 'windows') }}
      run: |
        if (-not(Test-Path $env:APPDATA\NuGet\NuGet.Config -PathType Leaf)) {
          return;
        }
        Remove-Item $env:APPDATA\NuGet\NuGet.Config
    -  
      name: Compile
      shell: bash
      run: |
        dotnet build --configuration ${{ matrix.configuration }} -p:Platform=${{ inputs.arch }} src/KurrentDB.sln
    -  
      name: Verify Build
      shell: bash
      run: |
        dotnet run --project src/KurrentDB --configuration ${{ matrix.configuration }} -- --insecure --what-if
    # so that the oauth tests have an up to date server image to run against
    -  
      name: Build Test Image
      if: ${{ !startsWith(inputs.os, 'windows') }}
      uses: docker/build-push-action@v4
      with:
        context: .
        load: true
        target: runtime
        tags: ${{ env.DB_IMAGE }}
    -  
      name: Run Tests
      shell: bash
      run: >
        dotnet test
        --configuration ${{ matrix.configuration }}
        -p:Platform=${{ inputs.arch }}
        -p:DefineConstants=${{ inputs.cs_symbols }}
        --blame
        --blame-hang-timeout 5min
        --blame-hang-dump-type mini
        --settings ./ci/ci.local.runsettings
        --logger:GitHubActions
        --logger:trx
        --logger:"console;verbosity=normal"
        --results-directory $(pwd)/test-results
        src/KurrentDB.sln
        -- --report-trx --results-directory $(pwd)/test-results
    -  
      name: Publish Test Results (All)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-results-${{ matrix.configuration }}-${{ inputs.os }}
        path: |
          test-results/*.trx
